html {
  font-size: 12px;
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  background: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.keys {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.key {
  border: 0.3rem solid #ECAD00;
  border-radius: 1rem;
  color: white;
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  width: 5rem;
  background: rgba(0,0,0,0.6);

}

kbd {
  display: block;
  font-size: 3rem;
}

.sound {
  color: #F07341;
  font-size: 1rem;
  text-transform: uppercase;
}

